[Unit]
Description=hoppscotch
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop hoppscotch
ExecStartPre=-/usr/bin/docker kill hoppscotch
ExecStartPre=-/usr/bin/docker rm hoppscotch
ExecStart=/usr/bin/docker compose -f /home/core/data/hoppscotch/docker-compose.yml --verbose up
ExecStop=/usr/bin/docker stop hoppscotch
ExecStop=/usr/bin/docker kill hoppscotch

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
