[mysqld]
skip-host-cache
skip-name-resolve
sql_mode=NO_AUTO_VALUE_ON_ZERO
default-time_zone='+8:00'
# 修改配置
# 默认151
max_connections=1510
# 默认100
mysqlx_max_connections=1000
# 默认2000
table_definition_cache=20000
# 默认4000
table_open_cache=40000
# 默认256
schema_definition_cache=2560
# 默认256
tablespace_definition_cache=2560
# 默认256
stored_program_definition_cache=2560
# 默认16
table_open_cache_instances=160
