[Unit]
Description=php82
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop php82
ExecStartPre=-/usr/bin/docker kill php82
ExecStartPre=-/usr/bin/docker rm php82
ExecStartPre=-/home/core/docker/shell/install_fleetctl php82
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStartPre=-/usr/bin/chmod 755 /home/core/data/php82/entrypoint.sh
ExecStart=/usr/bin/docker run --name php82 --net nginx-network -v /home/core/data/php82:/php -v /home/core/data/www:/www -v /home/core/data/www/composer:/root/.composer timeerror/php:8.2.5
ExecStop=/usr/bin/docker stop php82
ExecStop=/usr/bin/docker kill php82

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

