[Unit]
Description=daemon
After=docker.service
Requires=docker.service
StartupSec=30 #在系统启动后等待30秒才启动服务，等待redis,mysql等依赖服务先启动完成

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop daemon
ExecStartPre=-/usr/bin/docker kill daemon
ExecStartPre=-/usr/bin/docker rm daemon
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name daemon --net=nginx-network -v /home/core/data/www:/www -v /home/core/data/www/composer:/root/.composer -v /home/core/data/daemon/supervisord.conf:/supervisor/supervisord.conf -v /home/core/data/daemon/supervisord.d:/supervisor/supervisord.d -v /home/core/data/daemon/logs:/app -v /home/core/data/daemon82/php:/php timeerror/daemon:php74
ExecStop=/usr/bin/docker stop daemon
ExecStop=/usr/bin/docker kill daemon

[Install]
WantedBy=multi-user.target

